* {
    transition: 0.3s ease-in-out;
}

.post-header {
    margin-top: 34px;
}

.post-meta .i18n_list li {
    display: inline-flex;
    box-shadow: 0 1px 0 var(--secondary);
}


.post-content a {
    color: var(--accent);
    /* text-decoration: none; */
    box-shadow: 0 1px;
    transition: 0.2s ease-in-out;
}

.post-content a:hover {
    box-shadow: 0 2px 0;
}

.post-content abbr {
    text-decoration: none;
    border-bottom: dotted 2px;
    border-color: #6f6f6f; /* var(--secondary); */
    transition: 0.2s ease-in-out;
}
.post-content del {
    text-decoration: none;
    background: linear-gradient(to right, var(--primary) 100%, transparent 0) 0 50%/1px 1px repeat-x;
}

.post-content table {
    margin-bottom: 32px;
}

.post-content table th,
.post-content table:not(.highlighttable, .highlight table, .gist .highlight) td {
    padding: 12px 8px;
}

.post-content table th {
    font-size: 14px;
}

.post-content code {
    font-size: 0.80em;
    background: rgb(44, 46, 51);
    /* background: var(--code-bg); */
    border-radius: 6px;
}

.post-content blockquote {
    color: rgb(223, 223, 223);
}

.post-content img {
    border-radius: 10px;
}

.toc {
    position: fixed;
    overflow-y: auto;
    right: 11rem;
    top: 11.6rem;
    width: 20rem;
    margin: 10px 2px 40px 2px;
    border-radius: 12px; /* var(--radius); */
    padding-top: 0.7em;
}

@media (max-width: 1800px) {
    .toc {
        right: 3rem;
        width: 18rem;
    }
}
@media (max-width: 1500px) {
    .toc {
        right: 1rem;
        width: 13rem;
    }
}
@media (max-width: 1200px) {
    .toc {
        position: static;
        width: auto;
    }
}

[data-theme="dark"] .toc {
    background: #27292e;
    /* background: var(--entry); */
    border: solid 1px #282a2f;
}

.toc details summary {
    margin-inline-start: 20px;
}

.toc .inner {
    margin: 0 20px;
    padding: 10px 20px;
}

.toc a {
    transition: 0.2s ease-in-out;
}
.toc li a:hover {
    text-shadow: 0 0 5px var(--tint); /* #4169E1 #00FFFF #40E0D0 #f29492b3 */
    color: rgb(230, 230, 230);
}
/* .toc li a.active {
    background-color: rgb(50, 51, 54);
} */
.toc-active {
    color: var(--accent);
    display: flex;
    background-color: #f294921a;
    width: auto;
    box-shadow: -3px 0 0 3px #f294921a;
    border-radius: 4px;
}

.post-footer {
    margin-top: 56px;
}

.post-tags li {
    margin-inline-end: 3px;
    margin-bottom: 5px;
}

.post-tags a {
    padding-inline-start: 14px;
    padding-inline-end: 14px;
}

.share-buttons a :hover {
    color: rgb(235, 235, 235);
    /* text-shadow: 0 0 10px 1px; */
}

.share-buttons svg:active {
    transform: scale(0.9);
}

.paginav {
    margin: 10px 0;
}

.paginav a {
    transition: 0.3s ease-in-out;
}

/* .tooltip {
    display:inline-block;
    position:relative;
    border-bottom:1px dotted #666;
    text-align:left;
}

.tooltip .top {
    min-width:200px; 
    top:-20px;
    left:50%;
    transform:translate(-50%, -100%);
    padding:10px 20px;
    color:#444444;
    background-color:#EEEEEE;
    font-weight:normal;
    font-size:13px;
    border-radius:8px;
    position:absolute;
    z-index:99999999;
    box-sizing:border-box;
    box-shadow:0 1px 8px rgba(0,0,0,0.5);
    visibility:hidden; opacity:0; transition:opacity 0.8s;
}

.tooltip:hover .top {
    visibility:visible; opacity:1;
}

.tooltip .top i {
    position:absolute;
    top:100%;
    left:50%;
    margin-left:-12px;
    width:24px;
    height:12px;
    overflow:hidden;
}

.tooltip .top i::after {
    content:'';
    position:absolute;
    width:12px;
    height:12px;
    left:50%;
    transform:translate(-50%,-50%) rotate(45deg);
    background-color:#EEEEEE;
    box-shadow:0 1px 8px rgba(0,0,0,0.5);
} */