.project {
    background-color: var(--entry); border-radius: 16px;
    margin: 10px; margin-top: 30px;
    padding: 25px; padding-bottom: 10px;
    /* padding-right: 25px; padding-left: 25px; */
    /* text-align: center; font-size: 20px; */
    border-left: solid 5px #64646a;
}

.project:hover {
    background: #313137;
    box-shadow: 0 4px 40px 0 #31313780;
}

.project a {
    font-size: 22px;
    font-weight: bold;
    /* margin: 5px; */
}

.project p {
    color: var(--secondary);
    font-size: 14px;
    row-gap: 10px;
}

.project img {
    border-radius: var(--radius);
    pointer-events: none;
    width: 100%;
    height: auto;
}

/*.post-entry css */

.project-entry {
    position: relative;
    margin-bottom: var(--gap);
    margin: 10px; margin-top: 30px;
    /* padding: var(--gap); */
    padding: 25px; padding-bottom: 10px;
    background: var(--entry);
    border-radius: 16px;
    border: none;
    border-left: solid 5px #64646a;
    transition: ease-in-out 0.25s;
}

.project-entry:hover {
    background: #313137;
    box-shadow: 0 4px 40px 0 #31313780;
}

.project-entry:active {
    transform: scale(0.98);
}

.project-entry-header h2 {
    color: var(--accent);
    font-size: 24px;
    line-height: 1.3;
}

.project-entry-content {
    margin: 4px 0;
    margin-bottom: 18px;
    color: var(--secondary);
    font-size: 14px;
    line-height: 1.6;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}


