
.terms-tags a {
    display: block;
    padding: 3px 10px;
    background: var(--code-bg);
    border-radius: 6px;
    transition: transform 0.1s;
    border-radius: 10px;
    /* border-radius: var(--radius); */
}

.terms-tags a:hover {
    background: var(--border);
}
