{{- with site.Params.homeInfoParams }}
<article class="first-entry home-info">
    <header class="entry-header">
        <div class="hero-container">
            <div class="environment"></div>
            <h1 class="hero glitch layers" data-text="{{ .Title }}">
                <span>{{ .Title | markdownify }}</span>
            </h1>
        </div>
    </header>
    <div class="entry-content">
        {{ .Content | markdownify }}
    </div>
    <footer class="entry-footer">
        {{ partial "social_icons.html" (dict "align" site.Params.homeInfoParams.AlignSocialIconsTo) }}
    </footer>
</article>
{{- end -}}
