.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: calc(var(--nav-width) + var(--gap) * 2);
    margin-inline-start: auto;
    margin-inline-end: auto;
    line-height: var(--header-height);
}

.nav a {
    display: block;
}
.nav a:hover {
    text-shadow: 0 0 5px #ff79c6; /* #f29492b3; */
    color: rgb(230, 230, 230);
}

.logo,
#menu {
    display: flex;
    margin: auto var(--gap);
}

.logo {
    flex-wrap: inherit;
    transition: 0.3s ease-in-out;
    margin-top: 2px;
}

.logo a {
    font-size: 24px;
    font-weight: 700;
    transition: 0.3s ease-in-out;
}

.logo a img {
    display: inline;
    vertical-align: middle;
    pointer-events: none;
    transform: translate(0, -10%);
    border-radius: 6px;
    margin-inline-end: 8px;
}

#theme-toggle svg {
    height: 18px;
}

button#theme-toggle {
    font-size: 26px;
    margin: auto 4px;
}

[data-theme="dark"] #moon {
    display: none;
}

[data-theme="light"] #sun {
    display: none;
}

#menu {
    list-style: none;
    word-break: keep-all;
    overflow-x: auto;
    white-space: nowrap;
}

#menu li + li {
    margin-inline-start: var(--gap);
}

#menu a {
    font-size: 16px;
    transition: 0.1s ease-in-out;
}

#menu .active {
    /* color: rgb(230, 230, 230); */
    color: #96beff;
    font-weight: 500;
    /* background: #2a2b2e;
    box-shadow: 0 0 0 10px #2a2b2e;
    border-radius: 4px; */
    box-shadow: 0 2px 0 #8AB4F8;
}

.lang-switch li,
.lang-switch ul,
.logo-switches {
    display: inline-flex;
    margin: auto 4px;
}

.lang-switch {
    display: flex;
    flex-wrap: inherit;
}

.lang-switch a {
    margin: auto 3px;
    font-size: 16px;
    font-weight: 500;
}

.logo-switches {
    flex-wrap: inherit;
}
